<form asp-controller="Dashboard" asp-action="Dashboard">
    <div class="form-group">
        <input name="SearchString" class="form-control" type="Text">
    </div>
    <input type="submit" value="Filter" />
</form>