@{
    ViewData["Title"] = "Register and Login Page";
}
<div class="row">
    <div id= "register" class="col-md-6">
        <partial name="_RegisterPartial"/>
    </div>
    <div id= "login" class="col-md-6">
        <partial name="_LoginPartial"/>
    </div>
</div>